# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
.env/
.venv/
packager/
multi-packager/
dnsniper*.zip

# SQLite DB
*.db
*.db-shm
*.db-wal

# SSL certs/keys
ssl/
*.crt
*.key

# Node/React
frontend/node_modules/

# Logs
*.log

# OS/Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Misc
*.bak
*.tmp

# Ignore generated SSL script if present
generate_ssl.py 